@import url('../styles/globals.scss');
@import url('../styles/components.scss');
@import url('../styles/components/header.scss');
@import url('../styles/components/footer.scss');
@import url('../styles/components/carousel.scss');
@import url('../styles/components/product-card.scss');
@import url('../styles/pages/home.scss');
@import url('../styles/pages/collections.scss');
@import url('../styles/pages/products.scss');
@import url('../styles/pages/product-detail.scss');
@import url('../styles/pages/category.scss');
@import url('../styles/pages/cart.scss');
@import url('../styles/pages/checkout.scss');
@import url('../styles/pages/faq.scss');
@import url('../styles/pages/articles.scss');
@import url('../styles/pages/account.scss');
